{% extends "generic/base.html" %}

{% block title %}
<title>Books</title>
{% endblock title %}

{% block content %}
<h3>All Books:</h3>
<table>
<thead>
    <tr>
        <td>Title</td>
        <td>Author</td>
        <td colspan="2">Status</td>
    </tr>
</thead>
{% for book in books %}
<tr>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.status }}</td>
    <td><a href="{% url "book_detail" pk=book.id %}">Details</a></td>
</tr>
{% endfor %}
</table>
{% endblock content %}