<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset ="UTF-8">
        <meta name = "viewport content" content = "width+device-width, initial-scal=1.0">
        <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
        {% block title %}
        {% endblock title %}
    </head>
    <body>
        <header>
            <h1>Django Lender</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'book_list' %}">Books</a></li>
                {% endif %}
                {% if user.is_superuser %}
                <li><a href="{% url 'book_list' %}">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'django_registration_register' %}">Signup</a></li>
                <li><a href="{% url 'book_list' %}">Login</a></li>
                <li><a href="{% url 'book_list' %}">Logout</a></li>
            </ul>
        </nav>
        </header>
        <main>
            {% block content %}
            <h2>Nothing to see</h2>
            {% endblock content %}
        </main>
        <footer></footer>
    </body>
</html>